*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,html{
    width: 100%;
    height: 100%;
}

.contenedor{
    width: 100%;
    height: 100%;
    background-color: blue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.caja1,.caja2,.caja3,.caja4{
    background-color: red;
    border-top: 0px;
  
    border-left: 0px;
   
    width: 45%;
    height: 41%;
}

.caja1{
    border-right: 50px solid white;
    border-bottom: 50px solid white;
    flex-basis: 30%;
}

.caja2{
    border-left: 50px solid white;
    border-bottom: 50px solid white;
    flex-basis: 60%;
}

.caja3{
    border-right: 50px solid white;
    border-top: 50px solid white;
    flex-basis: 30%;
    
}

.caja4{
    border-left: 50px solid white;
    border-top: 50px solid white;
    flex-basis: 60%;
}